<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<base href="/">

	<title>meandr test</title>
	<meta name="description" content="site meandr test :)">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic img Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/marvin-180-180.jpg">
	<!-- Template Basic img End -->
	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#F47821">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.css">


</head>

<body>

	<a href="http://phomka.ru/resume.html" target="_blank"><div class="logo"></div></a>

	<section class="content">
	
		<div class="row">
		
			<section class="header">
				<div class="header_title">Ты готов стать профессионалом?</div>
				<div class="header_desc">Мы ищем <a href="#">талантов</a> и <a href="#">саппортов</a> в команду. Решите на какую категорию вы претендуете. </div>
				<a href="#" class="header_btn-link"><div class="header_btn">Заполнить анкету</div></a>
			</section>
						
		</div>

		<div class="row">
		
			<section class="main">
				<div class="main_img"></div>
				<div class="main_quest">
					<div class="main_question">
						<div class="main_question_title">Прокачиваем мир</div>
						<div class="main_question_desc">Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?</div>
					</div>
					<div class="main_question">
						<div class="main_question_title">Мотивируем себя</div>
						<div class="main_question_desc">У вас есть собственная цель и вы не боитесь много работать, чтобы её достичь?</div>
					</div>
					<div class="main_question">
						<div class="main_question_title">Используем лучшее</div>
						<div class="main_question_desc">Вы способны применять разные подходы для достижения своих целей?</div>
					</div>
					<div class="main_question">
						<div class="main_question_title">Относимся с пониманием</div>
						<div class="main_question_desc">Вы не обвиняете других в свои неудачах и способны воспринимать критику?</div>
					</div>
				</div>
			</section>

		</div>

		<div class="row">
		
			<section class="cont">
				<div class="cont_title">Мы похожи!</div>
				<div class="cont_desc">
					<p>Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации форм развития.</p>
					<p>Разнообразный и богатый опыт начало повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития. Равным образом дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий условий активизации. С другой стороны постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
				</div>
			</section>

		</div>

		<div class="row">
		
				<section class="benef">
					<div class="benef_title">Приемущества работы с нами</div>
					<div class="benefits">
						<div class="benefits-item">
								<div class="benefits-item_title">Делимся оптом и навыками</div>
								<div class="benefits-item_desc">Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.</div>
						</div>
						<div class="benefits-item">
								<div class="benefits-item_title">Стабильная зарплата</div>
								<div class="benefits-item_desc">Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.</div>
						</div>
						<div class="benefits-item">
								<div class="benefits-item_title">Гибкий график</div>
								<div class="benefits-item_desc">Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.</div>
						</div>
					</div>
				</section>
	
			</div>
	
		<div class="row">
		
				<section class="about">
					<div class="about-form" id="about-form">
					<div class="about-form_title">Теперь расскажите о себе</div>
						<form action="" method="post">
							<div class="about-form_item about-form_name">
								<label for="name">Фамилия и имя</label>
								<input type="text" id="name" v-model="name" name="name" placeholder="Сидоров Александр">
							</div>
							<div class="about-form_item about-form_email">
								<label for="email">Электронная почта</label>
								<input type="text" id="email" v-model="email" name="email" placeholder="Sidorov@yandex.ru">
							</div>
							<div class="about-form_item about-form_phone">
								<label for="phone">Телефон</label>
								<input type="text" id="phone" v-model="phone" name="phone" v-phone placeholder="+7 (999)-328-14-20">
							</div>
							<div class="about-form_item about-form_activity">
								<label for="activity">Какой деятельностью, не связанной с текущими проектами, вы бы хотели заниматься в рабочее время?</label>
								<textarea type="text" id="activity" v-model="activity" name="activity" placeholder="Свой проект по созданию универсальной инфраструктуры строительства"></textarea>
							</div>
							<div class="about-form_error" v-if="errors.length">
								<span>Пожалуйста исправьте указанные ошибки:</span>
								<ul>
									<li v-for="error in errors">{{ error }}</li>
								</ul>
							</div>
							<div>
								<button type="submit" @click="submit">Отправить</button>
							</div>
						</form>
					</div>
				</section>
			
			</div>
		
		</section>
	
	</section>

	<script src="js/scripts.min.js"></script>

</body>
</html>
